$COLOR-GRAY-TEXT: #505457;
$COLOR-WHITE-TEXT: #FFFFFF;
$COLOR-BLUE-TEXT: #2C96D0;
$COLOR-GRAY-BOLD: #728D9B;
$COLOR-BLUE-ADVANTAGES-TEXT: #439ACA;

$COLOR-BLUE-BG: #3B9DD3;
$COLOR-MAIN-BLUE-WINDOW: #58BFF8;
$COLOR-SECOND-BLUE-WINDOW: #2C96D0;
$COLOR-WHITE-CARD-BG: #F9F9F9;
$COLOR-MAIN-GPS-BG: #44A1D4;
$COLOR-SECOND-GPS-BG: #2A88BC;
$COLOR-FOOTER-SILVER-BG: #F3F3F3;
$COLOR-FOOTER-LINE: #dadada