@use './../_variables' as *;

.work {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-top: 65px;
    box-sizing: border-box;
    width: 100%;
    height: 534px;
    background: linear-gradient(95.22deg, #4B9FCE 0.97%, #68B8E3 26.74%, #45A6DA 98.18%);

    &::before {
        content: '';
        position: absolute;
        top: -50px;
        left: 0;
        width: 600px;
        height: 600px;
        scale: 1.2;
        background: url('./../../assets/src/delivery/Vector.svg') no-repeat center;
        background-size: contain;
        z-index: 0;
    }

    &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0px;
        width: 600px;
        height: 600px;
        scale: 1.2;
        background: url('./../../assets/src/delivery/Vector.svg') no-repeat center;
        background-size: contain;
        z-index: 0;
    }

    &__container {
        position: relative;
    }

    &__title {
        color: $COLOR-WHITE-TEXT;
        font-weight: 600;
        font-size: 44px;
        letter-spacing: -1.5px;
        line-height: 1.1;
    }

    &__cards {
        position: relative;
        display: flex;
        z-index: 1;
    }

    &__card {
        position: relative;
        margin-top: 60px;
        margin-right: 68px;
        width: 290px;
        height: 260px;
        background-color: $COLOR-WHITE-TEXT;
        border-radius: 17px;
        text-align: center;

        &-img {
            margin-top: -50px;
            height: 180px;
            object-fit: fill;
        }

        &-action {
            margin: 30px auto;
            display: flex;
            width: 253px;
            height: 60px;
            border-radius: 30px;
            background-color: $COLOR-BLUE-BG;
            align-items: center;
            color: $COLOR-WHITE-TEXT;
        }

        &-number {
            font-size: 18px;
            font-weight: 500;
            margin-left: 15px;
            padding: 10px;
            border-radius: 50%;
            border: 2px solid $COLOR-WHITE-TEXT;
        }

        &-desc {
            margin-left: 10px;
            font-size: 16px;
            font-weight: 400;
            white-space: pre-line;
            text-align: left;
        }
    }
}